<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.jdrupes.eclipse.minify.plugin.minifyBuilder"
         name="Minify Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.jdrupes.eclipse.minify.plugin.MinifyBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="minifyNature"
         name="Minify Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.jdrupes.eclipse.minify.plugin.MinifyNature">
         </run>
      </runtime>
      <builder
            id="org.jdrupes.eclipse.minify.plugin.minifyBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Minify Project Nature commands"
            id="org.jdrupes.eclipse.minify.plugin.minifyNature.category">
      </category>
      <command
            name="Add/RemoveMinify Project Nature"
            defaultHandler="org.jdrupes.eclipse.minify.plugin.AddRemoveMinifyNatureHandler"
            categoryId="org.jdrupes.eclipse.minify.plugin.minifyNature.category"
            id="org.jdrupes.eclipse.minify.plugin.addRemoveMinifyNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.jdrupes.eclipse.minify.plugin.addRemoveMinifyNature"
               label="Disable Minify builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="org.jdrupes.eclipse.minify.plugin.minifyNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.jdrupes.eclipse.minify.plugin.addRemoveMinifyNature"
               label="Enable Minify builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="org.jdrupes.eclipse.minify.plugin.minifyNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="minifyProblem"
         name="Minify Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.jdrupes.eclipse.minify.plugin.properties.MinifyCssPropertyPage"
            id="org.jdrupes.eclipse.minify.plugin.properties.cssPropertyPage"
            name="Minify CSS"
            nameFilter="*.css">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.jdrupes.eclipse.minify.plugin.properties.MinifyJsPropertyPage"
            id="org.jdrupes.eclipse.minify.plugin.properties.jsPropertyPage"
            name="Minify JS"
            nameFilter="*.js">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jdrupes.eclipse.minify.plugin.Startup">
      </startup>
   </extension>

</plugin>
